Repository Olovyannikov/middle.gamedev.praktikum.yandex: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, test

eslint:
  run: npx eslint --ext ts --ext tsx --max-warnings=20 {staged_files}

stylelint:
  run: npx stylelint --max-warnings=20 {staged_files}

test:
  run: npm run test {staged_files}
  stage_fixed: true

feat(forum api): add get one topic route (GAM-42)
  packages/server/index.ts
  packages/server/routes/api.ts
Due: eslint

fix(forum api): fix DB text field types (GAM-42)
  packages/server/index.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
Due: eslint

fix(forum api): proxy rework, add isSSO field to user (GAM-42) (#37)
  packages/client/src/app/App.tsx
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/shared/types/api/index.ts
  packages/server/index.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/routes/api.ts
  packages/server/routes/practicum.ts
Due: eslint

feat(forum): add topic page (GAM-47)
  packages/client/src/features/CreateTopic/index.tsx
  packages/client/src/pages/ForumTopicPage/index.tsx
  packages/client/src/services/ForumService/Forum.service.ts
  packages/client/src/shared/router/index.tsx
  packages/client/src/shared/validators/CreateTopic.schema.ts
  packages/server/models/topic.ts
  packages/server/routes/api.ts
Due: eslint

fix(forum api): fix comments request (GAM-42)
  packages/server/index.ts
Due: eslint

refactor: add comments (GAM-43)
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/shared/ui/Banner/Banner.module.scss
Due: eslint, stylelint

refactor(forum api): get comment by topic request change (GAM-42)
  packages/server/index.ts
  packages/server/routes/api.ts
Due: eslint

refactor(forum api): get comment by topic request change (GAM-42) (#40)
  packages/server/index.ts
  packages/server/routes/api.ts
Due: eslint

feat: add logic to change the color theme (GAM-43) (#38)
  packages/client/package.json
  packages/client/src/app/assets/styles/general/_scaffoldings.scss
  packages/client/src/app/assets/styles/index.scss
  packages/client/src/app/assets/styles/themes/_base.scss
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/layouts/RootLayout/Header/Header.module.scss
  packages/client/src/layouts/RootLayout/Header/index.tsx
  packages/client/src/layouts/RootLayout/index.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/ForumPage/index.tsx
  packages/client/src/pages/IndexPage/IndexPage.module.scss
  packages/client/src/pages/IndexPage/config.ts
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/leaderboard.module.css
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/profile.module.scss
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/hooks/useIsDarkMode.tsx
  packages/client/src/shared/ui/AppLink/AppLink.module.scss
  packages/client/src/shared/ui/AppLink/index.tsx
  packages/client/src/shared/ui/Banner/Banner.module.scss
  packages/client/src/shared/ui/Banner/index.tsx
  packages/client/theme.config.ts
  packages/server/package.json
  yarn.lock
Due: eslint, stylelint

fix(ssr themes): localStorage removed, ssr.tsx ThemeProvider changed
  package.json
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/ssr.tsx
  packages/client/theme.config.ts
  packages/server/index.ts
  yarn.lock
Due: eslint

fix(ssr themes): localStorage removed, ssr.tsx ThemeProvider changed (#41)
  package.json
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/ssr.tsx
  packages/client/theme.config.ts
  packages/server/index.ts
  yarn.lock
Due: eslint

feat(comments): add comments api (GAM-47)
  packages/client/src/entities/UserInfo/index.tsx
  packages/client/src/layouts/RootLayout/Header/index.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/ForumTopicPage/index.tsx
  packages/client/src/shared/context/AuthContext.tsx
  packages/client/theme.config.ts
  packages/server/index.ts
Due: eslint

fix(general): authProvider logout, cors, fonts
  packages/client/src/shared/context/AuthContext.tsx
  packages/client/theme.config.ts
  packages/server/index.ts
Due: eslint

fix(general): AuthProvider, cors, fonts (#42)
  packages/client/src/shared/context/AuthContext.tsx
  packages/server/index.ts
Due: eslint

fix(codestyle): fix by codereview (GAM-47)
  packages/client/src/entities/CreateForumTopic/index.tsx
  packages/client/src/entities/UserInfo/index.tsx
  packages/client/src/features/ChangePassword/index.tsx
  packages/client/src/features/CreateComment/index.tsx
  packages/client/src/features/UploadAvatar/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/shared/constants/api/index.ts
Due: eslint

fix(auth): rollback default auth is true (GAM-47)
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/AuthContext.tsx
Due: eslint

feat(backend theme): add change theme backend (GAM-41)
  packages/client/src/services/themeApi.ts
Due: eslint

feat(backend theme): add change theme backend (GAM-46)
  packages/client/src/services/themeApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/types/api/index.ts
  packages/server/models/user.ts
  packages/server/routes/api.ts
Due: eslint

fix(ssr): localStorage ssr fix (GAM-43)
  packages/client/src/shared/context/ColorModeProvider.tsx
Due: eslint

feat(backend theme): add change theme backend (GAM-46)
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/types/api/index.ts
  packages/server/routes/api.ts
Due: eslint

feat(backend theme): add change theme backend (GAM-46)
  packages/client/src/shared/context/ColorModeProvider.tsx
Due: eslint

feat(backend theme): add change theme backend (GAM-46)
  packages/client/src/shared/types/models/User/index.ts
Due: eslint

feat(backend theme): add change theme backend (GAM-46)
  packages/client/src/services/ThemeService/theme.dto.ts
  packages/client/src/services/ThemeService/themeService.ts
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/types/api/index.ts
Due: eslint

Feat/gam 46 (#43)
  packages/client/src/services/ThemeService/theme.dto.ts
  packages/client/src/services/ThemeService/themeService.ts
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/types/models/User/index.ts
  packages/server/models/user.ts
  packages/server/routes/api.ts
Due: eslint

feat(server Docker): add server wrapper Docker (GAM-41)
  .dockerignore
  .gitignore
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  package.json
  packages/client/package.json
  packages/server/index.ts
  yarn.lock
Due: eslint

feat(server Docker): add server wrapper Docker (GAM-41)
  .prettierignore
Due: none

feat(error Pages): add 400 & 500 logic (GAM-13)
  packages/client/src/app/providers/AppRouter/index.tsx
  packages/client/src/pages/Error500/lazy.tsx
  packages/client/src/pages/ErrorPage/ErrorVector.svg
  packages/client/src/pages/ErrorPage/index.tsx
  packages/client/src/pages/ErrorPage/lazy.tsx
  packages/client/src/pages/pages.lazy.ts
  packages/client/src/shared/router/index.tsx
Due: eslint

feat(error Pages): add 400 & 500 logic (GAM-13)
  packages/client/src/app/providers/AppRouter/index.tsx
  packages/client/src/pages/ErrorPage/index.tsx
Due: eslint

feat(error Pages): add 400 & 500 logic (GAM-13)
  packages/client/src/app/providers/AppRouter/index.tsx
  packages/client/src/shared/router/index.tsx
Due: eslint

Feat/gam 41 (#44)
  .dockerignore
  .gitignore
  .prettierignore
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  package.json
  packages/client/package.json
  packages/server/index.ts
  yarn.lock
Due: eslint

feat(deploy): deploy project (GAM-54)
  .github/workflows/build_and_push.yaml
Due: none

feat(deploy): deploy project (GAM-54) (#46)
  .github/workflows/build_and_push.yaml
Due: none

feat(errors): add error pages (GAM-13) (#45)
  packages/client/src/app/providers/AppRouter/index.tsx
  packages/client/src/pages/Error500/lazy.tsx
  packages/client/src/pages/ErrorPage/ErrorVector.svg
  packages/client/src/pages/ErrorPage/index.tsx
  packages/client/src/pages/ErrorPage/lazy.tsx
  packages/client/src/pages/pages.lazy.ts
  packages/client/src/shared/router/index.tsx
Due: eslint

fix(deploy): delete --scope=client from server (GAM-54)
  Dockerfile.server
Due: none

fix(deploy): delete --scope=client from server (GAM-54) (#47)
  Dockerfile.server
Due: none

fix(deploy): delete dockerize (GAM-54)
  Dockerfile.server
Due: none

Fix/gam 54 (#48)
  Dockerfile.server
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  stylelint: any of: *.{css,scss}
  test: any of: *.{spec,test}.{ts,tsx}
