Repository Olovyannikov/middle.gamedev.praktikum.yandex: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, test

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{ts,tsx,js,jsx}'
            run: npx eslint --ext ts --ext tsx --max-warnings=20 {staged_files}
        stylelint:
            glob: '*.{css,scss}'
            run: npx stylelint --max-warnings=20 {staged_files}
        prettier:
            run: npx prettier --write {staged_files} && git add {staged_files}
        test:
            glob: '*.{spec,test}.{ts,tsx}'
            run: npm run test {staged_files}
            stage_fixed: true

commit-msg:
    parallel: true
    commands:
        lint-commit-msg:
            run: npx commitlint --edit

fix(deploy): 2 step prev (GAM-54)
  Dockerfile.server
  docker-compose.yml
Due: none

Fix/gam 54 (#49)
  docker-compose.yml
Due: none

fix(deploy): 2 step prev (GAM-54)
  docker-compose.yml
Due: none

fix(deploy): 2 step prev (GAM-55)
  Dockerfile.server
  docker-compose.yml
Due: none

fix(deploy): 2 step prev (GAM-55) (#51)
  Dockerfile.server
  docker-compose.yml
Due: none

fix(deploy): add build client to server (GAM-55)
  Dockerfile.server
Due: none

Fix/gam 55 (#52)
  Dockerfile.server
Due: none

fix(deploy): fix errors in ssr (GAM-55)
  docker-compose.yml
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/shared/constants/api/index.ts
Due: eslint

Fix/gam 55 (#53)
  docker-compose.yml
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/shared/constants/api/index.ts
Due: eslint

fix(deploy): 2 step prev (GAM-55)
  Dockerfile.server
Due: none

fix(cloud): api requests, ssr fonts, fullscreen styles (GAM-55)
  packages/client/src/app/assets/styles/general/_fonts.scss
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/services/baseApi.ts
  packages/client/src/services/settings.ts
Due: eslint, stylelint

fix(cloud): api requests, ssr fonts, fullscreen styles (GAM-55) (#54)
  packages/client/src/app/assets/styles/general/_fonts.scss
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/services/baseApi.ts
  packages/client/src/services/settings.ts
Due: eslint, stylelint

fix: change styles of the header, game page, profile page in dark mode, delete leaderBoard page
  packages/client/src/entities/GameEndScreen/index.tsx
  packages/client/src/entities/StartScreen/index.tsx
  packages/client/src/layouts/RootLayout/Header/Header.module.scss
  packages/client/src/layouts/RootLayout/Header/index.tsx
  packages/client/src/pages/GamePage/GamePage.module.scss
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/lazy.tsx
  packages/client/src/pages/LeaderBoardPage/leaderboard.module.css
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/profile.module.scss
  packages/client/src/pages/pages.lazy.ts
  packages/client/src/shared/router/index.tsx
  packages/client/src/widgets/Game/index.tsx
Due: eslint, stylelint

fix(domain): fix domain (GAM-54)
  packages/server/index.ts
Due: eslint

fix(domain): fix domain (GAM-54) (#56)
  packages/server/index.ts
Due: eslint

fix: change styles of the header, game page, profile page in dark mode, delete leaderBoard page (#55)
  packages/client/src/entities/GameEndScreen/index.tsx
  packages/client/src/entities/StartScreen/index.tsx
  packages/client/src/layouts/RootLayout/Header/Header.module.scss
  packages/client/src/layouts/RootLayout/Header/index.tsx
  packages/client/src/pages/GamePage/GamePage.module.scss
  packages/client/src/pages/GamePage/index.tsx
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/lazy.tsx
  packages/client/src/pages/LeaderBoardPage/leaderboard.module.css
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/profile.module.scss
  packages/client/src/pages/pages.lazy.ts
  packages/client/src/shared/router/index.tsx
  packages/client/src/widgets/Game/index.tsx
Due: eslint, stylelint

fix(cloud): cookies fix (GAM-55)
  packages/server/index.ts
Due: eslint

Cloud cookie fix (#57)
  packages/server/index.ts
Due: eslint

fix(cloud): domain name added, port changed (GAM-55)
  docker-compose.yml
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/widgets/Game/Game.module.scss
  packages/client/vite.config.ts
  packages/server/index.ts
Due: eslint, stylelint

Cloud fix (#58)
  docker-compose.yml
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/widgets/Game/Game.module.scss
  packages/client/vite.config.ts
  packages/server/index.ts
Due: eslint, stylelint

fix(cloud): domain name fix (GAM-55)
  packages/server/index.ts
Due: eslint

Cloud fix (#59)
  packages/server/index.ts
Due: eslint

feat(deploy): fix deploy (GAM-54)
  Dockerfile.client
  docker-compose.yml
  packages/server/index.ts
Due: eslint

feat(deploy): fix deploy (GAM-54) (#60)
  Dockerfile.client
  docker-compose.yml
  packages/server/index.ts
Due: eslint

fix(deploy): fix deploy second step (GAM-54)
  .github/workflows/build_and_push.yaml
Due: none

fix(deploy): fix deploy second step (GAM-54) (#61)
  .github/workflows/build_and_push.yaml
Due: none
