Repository Olovyannikov/middle.gamedev.praktikum.yandex: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, test

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{ts,tsx,js,jsx}'
            run: npx eslint --ext ts --ext tsx --max-warnings=20 {staged_files}
        stylelint:
            glob: '*.{css,scss}'
            run: npx stylelint --max-warnings=20 {staged_files}
        prettier:
            run: npx prettier --write {staged_files} && git add {staged_files}
        test:
            glob: '*.{spec,test}.{ts,tsx}'
            run: npm run test {staged_files}
            stage_fixed: true

commit-msg:
    parallel: true
    commands:
        lint-commit-msg:
            run: npx commitlint --edit

fix(leaks): add react devtools memory leaks description (GAM-40)
  docs/MEMORYLEAKS.md
  docs/memoryleaks/after.png
  docs/memoryleaks/before.png
  packages/client/src/features/ChangePassword/index.tsx
  packages/client/src/features/index.ts
  packages/client/src/pages/ProfilePage/index.tsx
Due: eslint

perf(linters): add new linters and docs (GAM-40)
  .eslintignore
  .eslintrc.json
  docs/MEMORYLEAKS.md
  package.json
  packages/client/src/features/ChangePassword/ChangePassword.module.scss
  packages/client/src/features/ChangePassword/index.tsx
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/profile.module.scss
  packages/client/src/services/authApi.ts
  packages/client/src/shared/context/AuthContext.tsx
Due: eslint, stylelint

fix(node): upgrade node version to 18 (GAM-40)
  .github/workflows/checks.yml
Due: none

fix(node): upgrade gh-actions (GAM-40)
  .github/workflows/checks.yml
Due: none

fix(server): fix lint errors (GAM-40)
  packages/server/db.ts
  packages/server/index.ts
Due: eslint

feat(tests): add test environment for app (GAM-34) (#26)
  package-lock.json
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/_tests_/form.test.tsx
  packages/client/src/_tests_/formPaperWrapper.test.tsx
  packages/client/src/_tests_/useGame.test.tsx
  packages/client/src/widgets/Game/useGame.ts
  yarn.lock
Due: eslint, test

feat: add oauth yandex (GAM-37)
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/index.tsx
Due: eslint, stylelint

fix:(oauth) add oathApi, useOAuth (GAM-37)
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/services/oauthApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/hooks/useOAuth.tsx
  packages/client/src/shared/types/api/index.ts
Due: eslint, stylelint

[PRACTICUM REVIEW] feat(Redux & Router in SSR): add Redux & Router in SSR (GAM-36)
  packages/client/client.d.ts
  packages/client/index.html
  packages/client/src/main.tsx
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/store.ts
  yarn.lock
Due: eslint

[PRACTICUM REVIEW] feat(Redux & Router in SSR): add Redux & Router in SSR
  packages/client/src/main.tsx
  packages/server/package.json
  yarn.lock
Due: eslint

feat: add oauth yandex (GAM-37) (#33)
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/services/oauthApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/hooks/useOAuth.tsx
  packages/client/src/shared/types/api/index.ts
Due: eslint, stylelint

[PRACTICUM REVIEW] feat(Redux & Router in SSR): add Redux & Router in SSR
  packages/client/src/main.tsx
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: eslint

[PRACTICUM REVIEW] feat(Redux & Router in SSR): add Redux & Router in SSR
  packages/client/index.html
  yarn.lock
Due: none

[PRACTICUM REVIEW] feat(Redux & Router in SSR): add Redux & Router in SSR
  packages/client/client.d.ts
Due: eslint

feat(ssr): add redux ssr, ssr routing (GAM-36) (#34)
  .prettierignore
  lerna-debug.log
  package-lock.json
  packages/client/client.d.ts
  packages/client/index.html
  packages/client/package.json
  packages/client/src/app/assets/styles/themes/_base.scss
  packages/client/src/app/providers/AppRouter/index.tsx
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Error500/index.tsx
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/services/oauthApi.ts
  packages/client/src/shared/hooks/useOAuth.tsx
  packages/client/src/shared/ui/Icon/index.tsx
  packages/client/ssr.tsx
  packages/server/index.ts
  packages/server/package.json
  packages/server/store.ts
  packages/server/tsconfig.json
  yarn-error.log
  yarn.lock
Due: eslint, stylelint

feat(forum): add Forum service, refactor Auth service, refactor base Forum page layout (GAM-47)
  packages/client/src/pages/ForumPage/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/RegistationPage/index.tsx
  packages/client/src/services/AuthService/Auth.dto.ts
  packages/client/src/services/AuthService/AuthService.ts
  packages/client/src/services/ForumService/Forum.dto.ts
  packages/client/src/services/ForumService/Forum.service.ts
  packages/client/src/services/baseApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/AuthContext.tsx
  packages/client/src/shared/hooks/useLogout.ts
  packages/client/src/shared/types/api/index.ts
  packages/client/src/shared/types/models/User/index.ts
  packages/client/src/shared/validators/UserValidation.ts
  packages/client/src/widgets/Game/__tests__/useGame.test.tsx
  packages/server/store.ts
Due: eslint, test

feat(forum api): added base API for forum (GAM-42)
  packages/server/index.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/routes/api.ts
  packages/server/tsconfig.json
  yarn.lock
Due: eslint

feat(forum api): added auth check for API (GAM-42)
  packages/client/src/app/App.tsx
  packages/server/index.ts
  packages/server/routes/api.ts
Due: eslint

feat(forum api): added practicum API proxy, forum API improvements (GAM-42)
  packages/client/src/app/App.tsx
  packages/client/src/services/baseApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/server/index.ts
  packages/server/models/user.ts
  packages/server/routes/api.ts
Due: eslint

feat(forum api): forum API field naming improvements (GAM-42)
  packages/server/index.ts
  packages/server/routes/api.ts
Due: eslint

fix(forum api): fullscreen icon ssr fix (GAM-42)
  packages/client/src/entities/FullScreen/index.tsx
Due: eslint

refactor(forum api): example requests comment, force mode remove (GAM-42)
  packages/client/src/app/App.tsx
  packages/server/index.ts
Due: eslint

fix(auth context): redirect after login (GAM-42)
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/shared/context/AuthContext.tsx
Due: eslint

refactor(forum api): code style improvements (GAM-42)
  packages/server/index.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
  packages/server/routes/api.ts
  packages/server/routes/practicum.ts
  packages/server/tsconfig.json
Due: eslint

[PRACTICUM] feat: add forum API (GAM-42) (#36)
  packages/client/src/app/App.tsx
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/services/baseApi.ts
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/AuthContext.tsx
  packages/server/index.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/routes/api.ts
  packages/server/routes/practicum.ts
  packages/server/tsconfig.json
  yarn.lock
Due: eslint

fix(forum api): practicum proxy rewrite (avatar upload problem) (GAM-42)
  packages/server/index.ts
  packages/server/package.json
  packages/server/routes/practicum.ts
  yarn.lock
Due: eslint

fix(forum api): add isSSO user field (GAM-42)
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/shared/types/api/index.ts
  packages/server/index.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/routes/api.ts
  yarn.lock
Due: eslint

[PRACTICUM] feat: add forum API (GAM-42) (#36)
  packages/server/package.json
  packages/server/routes/practicum.ts
  yarn.lock
Due: eslint

feat(forum api): added base API for forum (GAM-42)
  packages/server/tsconfig.json
Due: none

feat(forum api): added practicum API proxy, forum API improvements (GAM-42)
  packages/server/index.ts
Due: eslint

feat(forum api): forum API field naming improvements (GAM-42)
  packages/server/index.ts
Due: eslint

refactor(forum api): code style improvements (GAM-42)
  packages/server/index.ts
  packages/server/tsconfig.json
Due: eslint

fix(forum api): practicum proxy rewrite (avatar upload problem) (GAM-42)
  packages/server/index.ts
  packages/server/routes/practicum.ts
  yarn.lock
Due: eslint

refactor(forum api): remove unused code (GAM-42)
  packages/server/index.ts
Due: eslint

refactor(forum api): after rebase fix (GAM-42)
  packages/server/index.ts
Due: eslint

fix(forum api): proxy rework, add isSSO field to user (GAM-42)
  packages/client/src/app/App.tsx
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/shared/types/api/index.ts
  packages/server/index.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/routes/api.ts
  packages/server/routes/practicum.ts
Due: eslint

fix(forum api): merge fix (GAM-42)
  packages/server/routes/api.ts
Due: eslint

feat: add logic to change the color theme (GAM-43)
  packages/client/package.json
  packages/client/src/app/assets/styles/general/_scaffoldings.scss
  packages/client/src/app/assets/styles/index.scss
  packages/client/src/app/assets/styles/themes/_base.scss
  packages/client/src/entities/FullScreen/index.tsx
  packages/client/src/layouts/RootLayout/Header/Header.module.scss
  packages/client/src/layouts/RootLayout/Header/index.tsx
  packages/client/src/layouts/RootLayout/index.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/ForumPage/index.tsx
  packages/client/src/pages/IndexPage/IndexPage.module.scss
  packages/client/src/pages/IndexPage/config.ts
  packages/client/src/pages/IndexPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/index.tsx
  packages/client/src/pages/LeaderBoardPage/leaderboard.module.css
  packages/client/src/pages/ProfilePage/index.tsx
  packages/client/src/pages/ProfilePage/profile.module.scss
  packages/client/src/shared/constants/api/index.ts
  packages/client/src/shared/context/ColorModeProvider.tsx
  packages/client/src/shared/hooks/useIsDarkMode.tsx
  packages/client/src/shared/ui/AppLink/AppLink.module.scss
  packages/client/src/shared/ui/AppLink/index.tsx
  packages/client/src/shared/ui/Banner/Banner.module.scss
  packages/client/src/shared/ui/Banner/index.tsx
  packages/client/theme.config.ts
  packages/server/package.json
  yarn.lock
Due: eslint, stylelint
